{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center mt-3 mb-5">Inscription</h1>

    <div class="form-log"
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>


    <style>

        .form-log{
            margin: 0 auto;
            background-color: #454d55;
            height: auto;
            width: 40vw;
        }

        .form-log input, select, textarea{
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 10px 10px;
            background: transparent;
            border: 0;
            color: white;
            padding-left: 2%;
            border-bottom: 2px solid #c5ecfd;
        }

        .form-log label{
            color: white;
            margin-left: 3%;
            padding-top: 2%;
        }

        .form-log button{
            background-color: white;
            color: black;
            padding: 5px 10px;
            border: 3px solid #c98506;
            border-radius: 10px;
            margin: 2%;
        }

        .form-log button {
            transition-duration: 0.4s;
        }

        .form-log button:hover {
            background-color: #c98506;
            color: white;
        }

        
    </style>

{% endblock %}
