<table class="table table-striped table-dark">
	<thead>
		<tr>
			<th scope="col">Titre</th>
			<th scope="col">Description</th>
			<th scope="col">Note</th>
			<th scope="col">Module</th>
		</tr>
	</thead>
	<tbody>
	{% for semaine in semaines %}
		<tr>
			<td>
				<a href="{{ path('show_semaine', {'id': semaine.id}) }}">
					{{semaine.titre}}
				</a>
			</td>
			<td>{{semaine.description}}</td>
			<td>{{semaine.notations|length}}</td>
			<td>{{semaine.module.nom}}</td>
			<td>
                <a href="{{ path('delete', {'id': semaine.id}) }}">
                    Supprimer
                </a>
            </td>
		</tr>
	{% else %}
		<tr>
			<td colspan="5">Il n'y a aucune semaine de cours</td>
		</tr>
	{% endfor %}
	</tbody>
</table>