<table border="1">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Description</th>
			<th>Note</th>
			<th>Module</th>
		</tr>
	</thead>
	<tbody>
	{% for semaine in semaines %}
		<tr>
			<td>
				<a href="{{ path('show_semaine', {'id': semaine.id}) }}">
					{{semaine.titre}}
				</a>
			</td>
			<td>{{semaine.description}}</td>
			<td>{{semaine.notations|length}}</td>
			<td>{{semaine.module.nom}}</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="5">Il n'y a aucune semaine de cours</td>
		</tr>
	{% endfor %}
	</tbody>
</table>