{% extends 'base.html.twig' %}

{% block title %}Les modules de cours{% endblock %}

{% block body %}
<h1 class="mb-5 mt-3 text-center">Modules de cours</h1>

<h3 class="mb-3 mt-3 ml-2">Tous les modules :</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Cours</th>
        </tr>
    </thead>
    <tbody>
    {% for module in modules %}
        <tr>
            <td>
                <a class="link" href="{{ path('show', {'id': module.id}) }}">
                    {{module.nom}}
                </a>
            </td>
            <td>{{ module.semaines|length }}</td>

            {% if is_granted('ROLE_USER') %}
                <td>
                    <a class="delete" href="{{ path('delete', {'id': module.id}) }}">
                        Supprimer
                    </a>
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="2">Il n'y a aucun module</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_granted('ROLE_USER') %}

    <h2 class="ml-3">Ajouter un module</h2>

    <div class="form">
        {{ form(ajout) }}
    </div>

{% endif %}
{% endblock %}
