<table class="table table-striped table-dark">
	<thead>
		<tr>
			<th scope="col">Elève</th>
			<th scope="col">Note</th>
			<th scope="col">Commentaire</th>
            <th scope="col">Semaine</th>
		</tr>
	</thead>
	<tbody>
	{% for notation in notations %}
		<tr>
			<td>{{notation.eleve}}</td>
            <td>{{notation.note}}</td>
            <td>{{notation.commentaire}}</td>
            <td>{{notation.semaine.titre}}</td>

			{% if is_granted('ROLE_USER') %}
				<td>
					<a class="delete"  href="{{ path('delete', {'id': notation.id}) }}">
						Supprimer
					</a>
				</td>
			{% endif %}
		</tr>
	{% else %}
		<tr>
			<td colspan="5">Il n'y a aucune notation pour ce cours</td>
		</tr>
	{% endfor %}
	</tbody>
</table>